<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nombre del Sitio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <img src="/static/images/logo.png" alt="Logo" class="logo-img">
            <h1 style="color: rgb(255, 255, 255);">  Tu veterinaria de confinaza </h1> 
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#" class="btn-ingresar">Ingresar</a></li>
                
            </ul>
        </nav>
    </header>

   
    <section class="hero">
        <div class="container">
            <h1>Bienvenido a MedVet</h1>
            <p>La mejor solución para tus necesidades</p>
            <a href="#" class="btn">Explora nuestros servicios</a>
        </div>
    </section>

   
    <section class="features">
        <div class="container">
            <h2>Nuestros Servicios</h2>
            <div class="feature-list">
                <div class="feature-item">
                    <h3> Lavado Para pieles delicadas</h3>
                    <p>Descripción breve del servicio 1.</p>
                </div>
                <div class="feature-item">
                    <h3>Servicios medicos 24h</h3>
                    <p>Descripción breve del servicio 2.</p>
                </div>
                <div class="feature-item">
                    <h3>Agenda citas a un clic</h3>
                    <p>Descripción breve del servicio 3.</p>
                </div>
            </div>
        </div>
    </section>
    

    <footer>
        <div class="footert">
            <p>&copy; 2024 Nombre del Sitio. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Términos y condiciones</a></li>
            </ul>
        </div>
    </footer>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <img src="/static/images/popup.jpg" alt="Imagen de fondo" class="popup-bg"> <!-- Imagen como fondo -->
            <div class="modal-text">
                <h2>Te vamos a dirigir al registro</h2>
                <button class="accept-btn" id="acceptBtn">Aceptar</button>
                <button class="close-btn" id="closeModalBtn">Cerrar</button>
            </div>
        </div>
    </div>

    <!-- vinculo jav -->
    <script src="/static/js/apphome.js"></script>
</body>
</html>